<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>.:Mercado Liebre:.</title>
</head>

<body>
    <header>
        <div class="primera-linea">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
        

        <div class="barra">
            <input type="search" name="Barradebusqueda" placeholder="Buscar productos, marcas y más" class="busqueda">
            <button class="icon-search" type="submit"><i class="fas fa-search"></i></button>
        </div>
	
        <p class="bloque2"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas  y sin tarjeta de crédito</p>
        </div>

        <nav>   
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li> 
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>                  
            </ul>
        </nav>

        <a class="burguer-menu" href=""><i class="fas fa-bars"></i> </a>
    </header>

    <img class="banner" src="/images/img-home-banner.jpg" alt="banner">

    

    <main>
        <h2>Basados en tu última visita</h2>
    
        <section class="ultima-visita">  
        <article>
            <img class="image" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="interna">
                    <i class="fas fa-truck"></i>
                        <div class="grow">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                    <p class="producto"><strong>Cafetera Moulinex</strong></p>
                </div>
        </article>

        <article>
            <img src="/images/img-macbook-pro-2019.jpg">
                <div class="interna">
                    <i class="fas fa-truck"></i>
                        <div class="grow">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                    <p class="producto"><strong>MacBook Pro 2019</strong></p>
                </div>
        </article>

        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="interna">
                    <i class="fas fa-truck"></i>
                        <div class="grow">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                    <p class="producto"><strong>Samsung Galaxy S10</strong> </p>
                </div>
        </article>

        <article> 
            <img src="/images/img-tv-samsung-smart.jpg">
                <div class="interna">
                    <i class="fas fa-truck"></i>
                        <div class="grow">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                    <p class="producto"><strong>SmartTv Samsung 43"</strong> </p>
                </div>
        </article>
    </section>
    <br>
    <br>     
    <h2>Ofertas</h2> 
    <section class="ofertas">        
        <article>
            <img src="/images/img-cafetera-moulinex.jpg">
                <div class="interna">
                    <i class="fas fa-truck"></i>
                        <div class="grow">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                    <p class="producto"><strong>Cafetera Moulinex</strong></p>
                </div>
        </article>

        <article>
            <img src="/images/img-macbook-pro-2019.jpg">
                <div class="interna">
                    <i class="fas fa-truck"></i>
                        <div class="grow">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                    <p class="producto"><strong>MacBook Pro 2019</strong></p>
                </div>
        </article>

        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="interna">
                    <i class="fas fa-truck"></i>
                        <div class="grow">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                    <p class="producto"><strong>Samsung Galaxy S10</strong> </p>
                </div>
        </article>

        <article>
        <img src="/images/img-tv-samsung-smart.jpg">
                <div class="interna">
                    <i class="fas fa-truck"></i>
                        <div class="grow">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                    <p class="producto"><strong>SmartTv Samsung 43"</strong> </p>
                </div>
        </article>   
    </section>
</main>

<br>
<br>

    <footer>
        <div class="pie-de-pagina">
            <div>
                <i class="icof fas fa-credit-card"></i>
                <h3> Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en punto de pago. ¡Y siempre es seguro!</p>
            </div>
        <br>
            <div>
                <i class="icof fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        <br>
            <div>
                <i class="icof fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>  
            </div>
        </div>
        <br>
        
        <div class="copy"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
    </footer>
</body>
</html>